<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut babe <%= @user.name %></h1>
    <p>
      inscris toi fdp à la newsletter de fdp de thp .<br>
    </p>
    <p>
      merci d'avance .
    </p>
    <p>bisous bisous</p>
  </body>
</html>

