<<<<<<< HEAD
<h1>Welcome to The Hacking Project,
  the most hacking project of all projects! </h1>
<p>Thanks for joining and have a great day!</p>
=======
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut babe <%= @user.name %></h1>
    <p>
      inscris toi fdp à la newsletter de fdp de thp .<br>
    </p>
    <p>
      merci d'avance .
    </p>
    <p>bisous bisous</p>
  </body>
</html>
>>>>>>> 9ad2b7e428c7773add72ebc53cc737a711332821
