<!DOCTYPE html>
<html>
<head>
	<title>Landing page</title>
	<link rel="stylesheet" type="text/css" href="stylesheet">
</head>
	<header  class="lp_one">
		<div class="container">
        <div class="row">
         <div class="col-xl-9 mx-auto">
		<h1 class="a">Became an Independant</h1>
		<p class="b">Looking forward to get ride of this amazing adventure</p>
		</div></div></div>
		<div style="text-align:center;"><button id="myBtn" onclick="javascript:alert('You have been succesfully submit')">push me on</button></div>
	</header>
	<body>
		<div class="content">
		<div><h2>CONTENT</h2>
			<div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div></div></div>

    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Fully Free</h3>
              <p class="lead mb-0">You can work from wherever you want</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Always Challenging</h3>
              <p class="lead mb-0">The profession grow up as you grow.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Good dose of common sens and here we go</p>
            </div>
          </div>
        </div>
      </div>
    </section>

	</body>

</html>