@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.lp_one {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(165deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
	background: url('skate.jpg') 50% 50% no-repeat;
	background-size: cover;
	display: table;
}

.container {
	margin-top: 30px;
  height: 150px;
  width: 10%;
  background-color: Transparent;
  background:  rgba(255, 255, 255, 0.4);}

.flecheblanche {
    content:url(flecheblanche.png);
    width: 90px;
    height: 90px;
    display: flex;
    position: absolute;
    bottom: 3%;
    right: 3%;
}

h1.a {
	text-align: center;
	color: black;
  margin-top: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 400%;
	text-transform: uppercase;
}

p.b {
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-size: 20px;
  padding-top: 0;
  padding-bottom: 0;
	text-align: center;
	margin-top: 2%;
}

.content {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 8px;
/*	margin: 0;
	padding: 0;*/
  padding-bottom: 5%;
  padding-top: 5%;
	font-size: 5%;

}

/*@media screen and (max-device-width : 320px)
{
  body or yourdiv element
  {
    font: 20px/em/rm;
  }
}
@media screen and (max-device-width : 1204px)
{
  body or yourdiv element
  {
    font: 20px/em/rm;
  }
}*/

button {
/*  background-color: Transparent;
    background:  rgba(255, 255, 255, 0.2);*/
	background-color: #e7e7e7;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:  #fff;
    padding: 9px 70px;
}

button:hover  {
    font-weight:bold;
 }

button:focus {
	outline: none;
}

.forms {
  	align-items: center;
   	text-align: center;
   	vertical-align: middle;
	color: black;
	padding-bottom: 3%;
	padding-top: 3%;

}

input:focus {
	outline: none;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  .class {
   margin:40%;
  }
}

.features-icons {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}
