<div class="footer">

    <div class="gitlink">
    </div>

    <div class="networks">
      <%= link_to image_tag('fblogo.png', :class => "net-logo", :alt => "Black & White Facebook Logo", :title => "Facebook Profile"), "https://www.facebook.com/", target: :_blank %>
      <%= link_to image_tag('ttlogo.png', :class => "net-logo", :alt => "Black & White Twitter Logo", :title => "Twitter Profile"), "https://twitter.com/", target: :_blank %>
      <%= link_to image_tag('iglogo.png', :class => "net-logo", :alt => "Black & White Instagram Logo", :title => "Instagram Profile"), "https://www.instagram.com/", target: :_blank %>
    </div>

    <div class="copyrights">
      © 2018 TheHackingProject, Inc.
    </div>

</div>